# Pandas DataFrames

In [1]:
person = {
    "firstName": "Larry",
    "lastName": "Booker",
    "email": "abc@gmail.com"
}

In [2]:
people = {
    "firstName": "Larry",
    "lastName": "Booker1",
    "email": "abc1@gmail.com"
}

In [10]:
people = {
    "firstName": ["Larry","BAC","CAB"],
    "lastName": ["Booker1","diry","jnfj"],
    "email": ["abc1@gmail.com","dhh@gmail.com","jfhg@gmail.com"]
}

In [11]:
import pandas as pd

In [12]:
people['email']

['abc1@gmail.com', 'dhh@gmail.com', 'jfhg@gmail.com']

In [13]:
df = pd.DataFrame(people)

In [14]:
df

  firstName lastName           email
0     Larry  Booker1  abc1@gmail.com
1       BAC     diry   dhh@gmail.com
2       CAB     jnfj  jfhg@gmail.com

In [18]:
df.set_index('email')

               firstName lastName
email
abc1@gmail.com     Larry  Booker1
dhh@gmail.com        BAC     diry
jfhg@gmail.com       CAB     jnfj

In [16]:
df['firstName']

0    Larry
1      BAC
2      CAB
Name: firstName, dtype: object

In [20]:
type(df['email'])

pandas.core.series.Series

In [21]:
df.email

0    abc1@gmail.com
1     dhh@gmail.com
2    jfhg@gmail.com
Name: email, dtype: object

In [22]:
df.count

<bound method DataFrame.count of   firstName lastName           email
0     Larry  Booker1  abc1@gmail.com
1       BAC     diry   dhh@gmail.com
2       CAB     jnfj  jfhg@gmail.com>

In [25]:
df[['firstName','email']]

  firstName           email
0     Larry  abc1@gmail.com
1       BAC   dhh@gmail.com
2       CAB  jfhg@gmail.com

In [26]:
df.iloc[0]  #iloc is used to retrieve value from specific index IndexLabels

firstName             Larry
lastName            Booker1
email        abc1@gmail.com
Name: 0, dtype: object

In [27]:
df.iloc[[0,1]]

  firstName lastName           email
0     Larry  Booker1  abc1@gmail.com
1       BAC     diry   dhh@gmail.com

In [29]:
df.iloc[[0,1],[2]] #rows and columns

            email
0  abc1@gmail.com
1   dhh@gmail.com

In [30]:
df

  firstName lastName           email
0     Larry  Booker1  abc1@gmail.com
1       BAC     diry   dhh@gmail.com
2       CAB     jnfj  jfhg@gmail.com

In [32]:
df.loc[0]

firstName             Larry
lastName            Booker1
email        abc1@gmail.com
Name: 0, dtype: object

In [37]:
df.loc[[0,1],['email','lastName']]

            email lastName
0  abc1@gmail.com  Booker1
1   dhh@gmail.com     diry

In [39]:
survey_results_public_df = pd.read_csv('survey_results_public.csv')
survey_results_schema_df = pd.read_csv('survey_results_schema.csv')

In [40]:
survey_results_public_df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [41]:
survey_results_schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...,...
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [42]:
survey_results_schema_df.shape

(79, 6)

In [45]:
survey_results_schema_df.columns

Index(['qid', 'qname', 'question', 'force_resp', 'type', 'selector'], dtype='object')

In [50]:
survey_results_schema_df['qname'].value_counts()

S0               1
MentalHealth     1
TimeSearching    1
Frequency        1
Knowledge        1
                ..
Platform         1
Database         1
Language         1
S3               1
TrueFalse_3      1
Name: qname, Length: 79, dtype: int64

In [51]:
survey_results_public_df['MainBranch'].value_counts() #sort of group by unique columns

I am a developer by profession                                                   53507
I am learning to code                                                             6309
I am not primarily a developer, but I write code sometimes as part of my work     5794
I code primarily as a hobby                                                       4865
None of these                                                                     1497
I used to be a developer by profession, but no longer am                          1296
Name: MainBranch, dtype: int64

In [54]:
survey_results_public_df.loc[[0,1,2],['ResponseId','MainBranch']]

   ResponseId                                         MainBranch
0           1                                      None of these
1           2                     I am a developer by profession
2           3  I am not primarily a developer, but I write co...

In [59]:
survey_results_public_df.loc[0:2]

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0

In [60]:
survey_results_public_df.loc[0:2, ['ResponseId']]

   ResponseId
0           1
1           2
2           3

In [68]:
df

               firstName lastName
email
abc1@gmail.com     Larry  Booker1
dhh@gmail.com        BAC     diry
jfhg@gmail.com       CAB     jnfj

In [69]:
df.index

Index(['abc1@gmail.com', 'dhh@gmail.com', 'jfhg@gmail.com'], dtype='object', name='email')

In [71]:
df.loc['abc1@gmail.com'] #locate based on the label

firstName      Larry
lastName     Booker1
Name: abc1@gmail.com, dtype: object

In [76]:
df.iloc[1]

firstName     BAC
lastName     diry
Name: dhh@gmail.com, dtype: object

In [77]:
df.reset_index(inplace=True)

In [78]:
df

            email firstName lastName
0  abc1@gmail.com     Larry  Booker1
1   dhh@gmail.com       BAC     diry
2  jfhg@gmail.com       CAB     jnfj

In [79]:
df.loc[0]

email        abc1@gmail.com
firstName             Larry
lastName            Booker1
Name: 0, dtype: object